*{margin: 0%;
    padding: 0;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(252, 123, 177);
    padding-bottom: 40px ;
}

.galeria {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 20%;
    height: 100px;
    margin-bottom: 2%;
    margin-top: 8em;
    margin-left: 1em;
    margin-right: 1em;
}

/*slider*/

.swiper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.contenedor {
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 30%;

}

.contenedor_2 {
    background: rgb(252, 123, 177);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    margin-top: 10px;
}

.caja_1{
    display: flex;
    flex-flow:column wrap;
    flex-grow: 1;
    flex-basis: 30%;
}

h3 {
    text-align: center;

}

h2 {
    text-align: center;
    color: black;
    font-size: 50px;
}

.item {
    background: wheat;
    margin-bottom: 40px;
}

ul {
    display: flex;
    flex-direction: row-reverse;    

}

li {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    margin-top: 50px ;
}

a {
    color: wheat;
}

li:hover{
    background: black;
}

img {
    width: 100%;
    height: auto;
}

.img {
    width: 100%;
    height: auto;
    background-color: rgb(255, 208, 203);
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    flex-grow: 1;
    flex-basis: 30%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-radius: 1em;

}
  

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: black;
}


p {
    margin:10px ;
}

.hiper {
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}